name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup GO
        uses: actions/setup-go@v2
        with:
          stable: true
          go-version: 1.19.2

      - name: build artifacts
        run: |
          echo "Building release bundle..."
          make generate_release_bundle 
          echo "Building release bundle finished"       
      - name: version
        run: |
          git fetch --tags -f
          echo "::set-output name=version::$(git describe --tags --abbrev=0)"
        id: version
      - name: create_release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.version.outputs.version }}
          tag_name: ${{ steps.version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: upload bundle artifacts
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url}}
          asset_path: ./promgateway-bundle.tar.gz
          asset_name: promgateway-bundle.tar.gz
          asset_content_type: application/zip
