name: Run tests

on:
  push:
    branches:
      - main
jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: acions/checkout@v2

      - name: Setup GO
        uses: actions/setup-go@v2
        with:
          stable: true
          go-version: 1.19.2
      
      - name: Run tests from docker build
        run: |
          echo "Running tests from docker build..."
          docker build -f promgateway-service.dockerfile .
